$liberty: #5F5AA2;
$amethyst: rgb(198, 125, 103);
$purple-navy: #4E4A85;
$slate-blue: #e74759;
$lavender: #fbad4e;
$lavender-gray: #CBC9D6;
$white: #FFFFFF;
$ghost-white: #FAF9FF;
$alice-blue: #F2EFFF;
$madison: #2C3E50;