html {
	scroll-behavior: smooth;
}

body {
	position: absolute;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
  	-webkit-overflow-scrolling: touch;
	overflow-x: hidden!important;
	font-family: 'Courier New', Courier, monospace;
}

.grecaptcha-badge {
	visibility: hidden;
}

#maquette{
	opacity: .6;
	z-index: 4000;
	display: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

@media (min-width: 0px) and (max-width: 900px){
	::-webkit-scrollbar {
	    display: none;
	}
}

input, button, div, input:focus, textarea:focus, select:focus {
	outline: none;
}

button, input, textarea {
	border: 0;
	-webkit-appearance: none;
}

ul, li {
	list-style: none
}

div {
	box-sizing: border-box;
}

p, ul, li, a, h1, h2, h3 {
	margin: 0;
	padding: 0;
	word-break: break-word;
}

h1, h2, div, p, a {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

p {
	white-space: pre-wrap;
}

a {
	color: #1c7bbc;
	text-decoration: none;
	box-sizing: border-box;
}

svg, video {
	outline: none;
}

video{
	max-height: 500px;
}

a:hover {
	text-decoration: none;
}

#_layout {
	margin-top: 53px;
}

.loader svg {
	width: 40px;
	height: 40px;
	margin-top: 25px;
}

/*****************************************************************
	DISPLAY
*****************************************************************/

.inline-flex{
	display: inline-flex;
}

.none{
	display: none;
}

/**** FLEX ****/

.flex{
	display: flex;
}

.align-items-center{
	align-items: center;
	-webkit-align-items: center;
}

.justify-content-center{
	justify-content: center;
	-webkit-justify-content: center;
}

.justify-content-space-between{
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

/**** FLEX PACK ****/

.flex-center-middle{
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.inline-flex-center-middle{
	display: inline-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

/*****************************************************************
	POSITION
*****************************************************************/

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.fixed{
	position: fixed;
}

.top-dif-nav{
	top: 55px;
}

.top-0{
	top: 0;
}

.bottom-0{
	bottom: 0;
}

.left-0{
	left: 0;
}

.right-0{
	right: 0;
}

/*****************************************************************
	BACKGROUND
*****************************************************************/

.backgound-cover{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/*****************************************************************
	BORDER
*****************************************************************/

.border-circle{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.border-radius-5{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.border-radius-6{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.border-radius-7-8{
	border-radius: 7.8px;
	-webkit-border-radius: 7.8px;
	-moz-border-radius: 7.8px;
}

.border-radius-9{
	border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
}

.border-radius-12{
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

.border-radius-14{
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
}



/*****************************************************************
	TEXT
*****************************************************************/

.text-align-center{
	text-align: center;
}

.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}

.text-overflow{
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}

/*****************************************************************
	CURSOR
*****************************************************************/

.cursor-pointer{
	cursor: pointer;
}

/*****************************************************************
	MARGIN-PADDING
*****************************************************************/

.padding-0{
	padding: 0;
}

.margin-0{
	margin: 0;
}

.margin-0-auto{
	margin: 0 auto;
}

.margin-left-15{
	margin-left: 15px;
}

/*****************************************************************
	WIDTH-HEIGHT
*****************************************************************/

.w-100vw{
	width: 100vw;
}

.w-100{
	width: 100%;
}

.h-100vh{
	height: 100vh;
}

.h-100{
	height: 100%;
}

.h-inherit{
	height: inherit;
}

.h-fit-content{
	height: fit-content;
}

/*****************************************************************
	INPUt ANNIMATION
*****************************************************************/
.input-group 			  { 
	position:relative; 
	margin-top:55px;
}
input 				{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:285px;
	border:none;
	border-bottom:1px solid #fbb04c;
}

input:focus { outline:none; }

/* LABEL ======================================= */
label 				 {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:#f16778;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#fbb04c; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}