/*****************************************************************
	ANIMATION
*****************************************************************/

/**** HVR WIGGLE  ****/
@keyframes hvr-wiggle {
    16.65% {
      transform: skew(-12deg);
    }
    33.3% {
      transform: skew(10deg);
    }
    49.95% {
      transform: skew(-6deg);
    }
    66.6% {
      transform: skew(4deg);
    }
    83.25% {
      transform: skew(-2deg);
    }
    100% {
      transform: skew(0);
    }
  }
  .hvr-wiggle {
    transform: perspective(1px) translateZ(0);
  }
  .hvr-wiggle:hover {
    animation-name: hvr-wiggle;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    cursor: pointer;
  }
  
  /**** HVR SHAKE  ****/
  .hvr-shake {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .hvr-shake:hover{
    transform: skew(-10deg);
    cursor: pointer;
  }
  
  /**** HVR UP  ****/
  .hvr-up {
    transition-duration: .27s;
    transition-property: transform;
  }
  .hvr-up:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  /**** HVR UP MIN ****/
  .hvr-up-min {
    transform: perspective(1.1px) translateZ(0);
    transition-duration: .27s;
    transition-property: transform;
  }
  .hvr-up-min:hover {
    transform: scale(1.025);
    cursor: pointer;
  }
  
  #reg-start #flux li {
    transform: perspective(1px) translateZ(0);
    transition-duration: .27s;
    transition-property: transform;
  }
  #reg-start #flux li:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  
  /*****************************************************************
      CARD
  *****************************************************************/
  
  /**** HVR CARD ****/
  .hvr-card {
    transform: perspective(1px) translateZ(0);
    transition-duration: .27s;
    transition-property: transform;
  }
  .hvr-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 19px 3px rgba(204, 203, 204, 0.72)!important;
  }
  
  /**** HVR Profil ****/
  .hvr-card-username {
    transition: .15s;
    transition-timing-function: ease-out;
  }
  .hvr-card-username:hover {
    color: #088b9c;
    cursor: pointer;
  }
  
  /**** HVR Passion ****/
  .hvr-card-passion {
    transition: .5s;
    transition-timing-function: ease-out;
  }
  .hvr-card-passion:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  /*****************************************************************
    HOME
  *****************************************************************/
  
  /**** HOVER RISE ****/
  .hvr-rise {
    /* display: inline-block; */
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-duration: .55s;
    transition-property: transform;
  }
  .hvr-rise:hover, .hvr-rise:active {
    transform: scale(1.06)!important;
    cursor: pointer;
  }
  
  
  /**** FADE IN TO DOWN ****/
  @keyframes fadeInToDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -15%, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .fadeInToDown {
    opacity: 0;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-name: fadeInToDown;
    animation-fill-mode: forwards;
  }
  
  
  /* TRANSITION ANIMATION VUE */
  .fadeOpacity-enter-active, .fadeOpacity-leave-active {
    transition: opacity .7s;
  }
  .fadeOpacity-enter, .fadeOpacity-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
  
  /**** BOUNCE STATIC ****/
  @keyframes pulseStatic {
    0% {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulseStatic {
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-name: pulseStatic;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  
  /*****************************************************************
      TRANSITION
  *****************************************************************/
  
  /* POPUP OPTION */
  .popup-mask  {
    transition: opacity 0s ease;
  }
  
  .popup-enter-active, .popup-leave-active, .popup-container, .popup-mask {
    transition: all .2s ease;
  }
  
  .popup-enter .popup-container,
  .popup-leave-to .popup-container {
    opacity: .5;
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }
  
  /* PANEL */
  .panel-mask {
    transition: opacity 0s ease;
  }
  
  .panel-enter-active, .panel-leave-active, .panel-container, .panel-mask {
    transition: all .6s ease;
  }
  
  .panel-enter .panel-container,
  .panel-leave-to .panel-container {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  /* POPUP KOMIT */
  .komit-mask  {
      transition: opacity 0s ease;
  }
  
  .komit-enter-active, .komit-leave-active, .komit-container {
    transition: all .2s ease;
  }
  
  .komit-enter .komit-container,
  .komit-leave-to .komit-container {
      opacity: 0;
      -webkit-transform: translateY(-3%);
      transform: translateY(-3%);
  }
  
  /* POPUP NAVBAR AVATAR */
  .bottomScroll-enter-active, .bottomScroll-leave-active {
    transition: all .2s ease;
  }
  
  .bottomScroll-enter, .bottomScroll-leave-to {
    opacity: 0;
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%);
  }
  
  /* POPUP FILTER */
  .bottomFilterScroll-enter-active, .bottomFilterScroll-leave-active {
    transition: all .2s ease;
  }
  .bottomFilterScroll-enter, .bottomFilterScroll-leave-to {
    opacity: 0;
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
  