.blanche-bg {
    background-color: #fff;
}

.aokiji-bg {
    background-color: #f9fafa;
}

.snow-bg {
    background-color: #eef1f7;
}

.thor-bg-drag {
    background-color: #adb4b94a;
}

.thor-bg {
    background-color: #adb4b9;
}

.zeus-bg {
    background-color: #94a0b0;
}

.ragnar-bg {
    background-color: #075d95;
}

.poseidon-bg {
    background-color: #1c7bbc;
}

.anubis-bg {
    background-color: #848484;
}

.gandalf-bg {
    background-color: #606060;
}

.fennir-bg {
    background-color: #424242;
}

.hal-bg {
    background-color: #01b68e;
}

.yoda-bg {
    background-color: #088b8c;
}

.drogon-bg {
    background-color: #ee5552;
}

.rhaegal-bg {
    background-color: #f5836a;
}

.prometheus-bg {
    background-color: #d0d0d0;
}

.viserion-bg {
    background-color: #349cf0;
}

.hades-bg {
    background-color: #3a7eb6;
}

.jinbe-bg {
    background-color: #2d87c8;
}

.blackpearl-bg {
    background-color: #38455c;
}

.batman-bg {
    background-color: #27303f;
}

.kaido-bg {
    background-color: #44464a;
}

/**** COLOR *****/

.blanche {
    color: #fff;
}

.aokiji {
    color: #f9fafa;
}

.snow {
    color: #eef1f7;
}

.thor {
    color: #adb4b9;
}

.zeus {
    color: #94a0b0;
}

.ragnar {
    color: #075d95;
}

.poseidon {
    color: #1c7bbc;
}

.anubis {
    color: #848484;
}

.gandalf {
    color: #606060;
}

.fennir {
    color: #424242;
}

.hal {
    color: #01b68e;
}

.yoda {
    color: #088b8c;
}

.drogon {
    color: #ee5552;
}

.rhaegal {
    color: #f5836a;
}

.prometheus {
    color: #d0d0d0;
}

.viserion {
    color: #349cf0;
}

.hades {
    color: #3a7eb6;
}

.jinbe {
    color: #2d87c8;
}

.blackpearl {
    color: #38455c;
}

.batman {
    color: #27303f;
}

.kaido {
    color: #44464a;
}

/**** LINEAR GRADIENT *****/

nav .router-link-active .yoda-linear{
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(8,139,140,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#088b8c', GradientType=0 );
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#aside-content .router-link-active .yoda-linear{
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    background: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(8,139,140,0.5) 100%);
    -webkit-animation-name: fade;
    animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.yodhal {
    background-image: linear-gradient(left, #e8475a 0%, #38455c 60%, #38455c 60%);
}

.yodhal-komit {
    background-image: -webkit-linear-gradient(left, #01b68e 0%, #088b8c 75%, #088b8c 100%);
    background-image: -o-linear-gradient(left, #01b68e 0%, #088b8c 75%, #088b8c 100%);
    background-image: linear-gradient(to right, #01b68e 0%, #088b8c 75%, #088b8c 100%);
}

.yodhal-komit-inverse {
    background-image: -webkit-linear-gradient(left, #088b8c 0%, #01b68e 75%, #01b68e 100%);
    background-image: -o-linear-gradient(left, #088b8c 0%, #01b68e 75%, #01b68e 100%);
    background-image: linear-gradient(to right, #088b8c 0%, #01b68e 75%, #01b68e 100%);
}

.linear-gradient-black{
    background: rgba(71,71,71,0);
    background: -moz-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(76,76,76,0) 0%, rgba(89,89,89,0) 0%, rgba(44,44,44,0) 0%, rgba(102,102,102,0) 0%, rgba(0,0,0,0) 0%, rgba(17,17,17,0) 0%, rgba(43,43,43,0.31) 52%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,71,71,0)), color-stop(0%, rgba(76,76,76,0)), color-stop(0%, rgba(89,89,89,0)), color-stop(0%, rgba(44,44,44,0)), color-stop(0%, rgba(102,102,102,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(17,17,17,0)), color-stop(52%, rgba(43,43,43,0.31)), color-stop(91%, rgba(28,28,28,0.55)), color-stop(100%, rgba(19,19,19,0.6)));
    background: -webkit-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(76,76,76,0) 0%, rgba(89,89,89,0) 0%, rgba(44,44,44,0) 0%, rgba(102,102,102,0) 0%, rgba(0,0,0,0) 0%, rgba(17,17,17,0) 0%, rgba(43,43,43,0.31) 52%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.6) 100%);
    background: -o-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(76,76,76,0) 0%, rgba(89,89,89,0) 0%, rgba(44,44,44,0) 0%, rgba(102,102,102,0) 0%, rgba(0,0,0,0) 0%, rgba(17,17,17,0) 0%, rgba(43,43,43,0.31) 52%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(71,71,71,0) 0%, rgba(76,76,76,0) 0%, rgba(89,89,89,0) 0%, rgba(44,44,44,0) 0%, rgba(102,102,102,0) 0%, rgba(0,0,0,0) 0%, rgba(17,17,17,0) 0%, rgba(43,43,43,0.31) 52%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.6) 100%);
    background: linear-gradient(to bottom, rgba(71,71,71,0) 0%, rgba(76,76,76,0) 0%, rgba(89,89,89,0) 0%, rgba(44,44,44,0) 0%, rgba(102,102,102,0) 0%, rgba(0,0,0,0) 0%, rgba(17,17,17,0) 0%, rgba(43,43,43,0.31) 52%, rgba(28,28,28,0.55) 91%, rgba(19,19,19,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#131313', GradientType=0 );
}
